@keyframes L-anim {
  from {
    stroke-dashoffset: -600px;
  }

  to {
    stroke-dashoffset: 0px;
  }
}
@keyframes U-anim {
  from {
    stroke-dashoffset: -600px;
  }

  to {
    stroke-dashoffset: 0px;
  }
}
@keyframes B-anim {
  from {
    stroke-dashoffset: -600px;
  }

  to {
    stroke-dashoffset: 0px;
  }
}
@keyframes N-anim {
  from {
    stroke-dashoffset: -600px;
  }

  to {
    stroke-dashoffset: 0px;
  }
}
@keyframes A-anim {
  from {
    stroke-dashoffset: -600px;
  }

  to {
    stroke-dashoffset: 0px;
  }
}
